  <table class="table table-striped">
    <thead>
      <tr class="<%= custom_style %>"%>
        <th scope="col">Title</th>
        <th scope="col">Due Date</th>
      </tr>
    </thead>
    <tbody>
      <% assignments.each do |assignment|%>
        <tr>
          <td class='col-md-4'> <%= assignment.title %></td>
          <td class='col-md-4'> <%= basic_date(assignment.due_date) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>