<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Subjects</a>
  <a class="navbar-brand" href="#">Students</a>
  <%= link_to "Sign Out", destroy_teacher_session_path, method: :delete %>

</nav>